@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cell: #C0C0C0;
    --borderDark: #808080;
    --borderLight: #FFFFFF;
    --text: #525252;
    --white: #FFFFFF;
    --black: #000000;

    /*Number colors*/
    --1: #4500FF;
    --2: #008608;
    --3: #FF0000;
    --4: #200084;
    --5: #8C0000;
    --6: #008483;
    --7: #000000;
    --8: #808080;
}

/**, *::after, *::before {*/
/*    -webkit-user-select: none;*/
/*    -webkit-user-drag: none;*/
/*    -webkit-app-region: no-drag;*/
/*    cursor: default;*/
/*}*/

.non-drag {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}
